.mw-bs {

    .file-upload .input-group {
        width: 100%;
    }

    .filenames[readonly] {
        background-color: white !important;
        cursor: default !important;
    }

    .filenames {
        padding-left: 1em !important;
    }

    .files-progress {
        margin-top: 0.5em;
    }

    .file-statuses {
        list-style-type: none;
        padding-left: 0px;

        .glyphicon {
            margin-right: 10px;
        }

        .help-block {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .dropzone {
        border: 2px dashed #dddddd;
        font-size: 1.1em;
        margin-bottom: 0.5em;
        text-align: center;
    }

    .dropzone.active {
        border: 2px solid #dddddd;
    }

    .dropzone > div {
        padding: 5px;
        white-space: normal;
    }

}
