.mw-bs {

    .mw-footer {
        flex-shrink: 0;
        padding: 1em 1em 0 1em;
    }

    .mw-footer:empty {
        display: none;
    }

    .mw-footer.container {
        padding-left: 0;
    }

    .mw-footer.container-fluid {
        align-self: stretch;
        margin-left: 0;
        margin-right: 0;
    }

}
