.mw-bs {

    .mw-select {

        .bootstrap-typeahead {
            width: 100%;
        }

        .bootstrap-typeahead-clear-button {
            color: #000000;
            margin-top: -12px;
            opacity: 0.2;
        }

        .bootstrap-typeahead-input-main,
        .bootstrap-typeahead-input-main:focus,
        .bootstrap-tokenizer {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            box-shadow: none;
            border-color: #cccccc;
            border-width: 1px;
            border-style: solid;            
        }

        .bootstrap-typeahead-input,
        .bootstrap-typeahead-input-main,
        .bootstrap-typeahead-input-hint {
            height: 100%;
        }

        .bootstrap-typeahead-input-main,
        .bootstrap-typeahead-input-hint {
            padding: 6px 16px;
        }
        
        .bootstrap-typeahead-input-hint {
            padding-left: 17px;
        }

        .bootstrap-tokenizer { 
            padding: 6px 16px 2px;
            min-height: 100%;
        }

        .dropdown-menu {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-top: 0px;
        }

        .has-aux {
            padding-right: 32px;
        }

        .flex-container {
            display: flex;
            width: 300px;
        }

        .refresh-button {
            border-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

    }

    .mw-select .outcome {
      margin-right: 1em !important;
      margin-top: 1em;
    }

}

.tether-element {
    z-index: 100;
}

@media(max-width: 760px) {

    .mw-bs {

        .mw-select {

            .flex-container {
                max-width: 300px;
                width: auto;
            }
        }

    }

}
