.mw-bs {

    .mw-select {

        .bootstrap-typeahead {
            width: 100%;
        }

        .bootstrap-typeahead-clear-button {
            color: #000;
            margin-top: -12px;
            opacity: 0.2;
        }

        .has-aux {
            padding-right: 32px;
        }

        .flex-container {
            display: flex;
            width: 300px;
        }

        .refresh-button {
            border-left: 0;
        }

    }

    .mw-select .outcome {
      margin-right: 1em !important;
      margin-top: 1em;
    }

}

.tether-element {
    z-index: 100;
}

@media(max-width: 760px) {

    .mw-bs {

        .mw-select {

            .flex-container {
                width: auto;
                max-width: 300px;
            }
        }

    }

}
