.mw-bs {

    .wait {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1200;
    }

    .wait-overlay {
        background: black;
        height: 100%;
        left: 0;
        opacity: 0.3;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1200;
    }

    .wait-message-container {
        color: white;
        left: 0;
        margin-top: -4em;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        z-index: 1200;
    }

    .wait-icon {
        font-size: 5em;
        margin-bottom: 0.5em;
        z-index: 1200;
    }

    .status,
    .voting {
        padding: 1.5em;
        padding-top: 100px;
        text-align: center;
    }

	.status-message {
        color: #1999ce;
    }

    .status-content {
        margin-top: 1em;
    }

}
